@using Nop.Core
@model Leo.Plugin.Wallets.PartialPaymentAdmin.Models.PartialPaymentModel
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    const string hideInfoBlockAttributeName = "PartialPaymentPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideUsageHistoryBlockAttributeName = "PartialPaymentPage.HideUsageHistoryBlock";
    var hideUsageHistoryBlock = genericAttributeService.GetAttribute<bool>(
        workContext.CurrentCustomer, hideUsageHistoryBlockAttributeName, defaultValue: true);

    const string hideAppliedToProductsBlockAttributeName = "PartialPaymentPage.HideAppliedToProductsBlock";
    var hideAppliedToProductsBlock = genericAttributeService.GetAttribute<bool>(
        workContext.CurrentCustomer, hideAppliedToProductsBlockAttributeName, defaultValue: true);


}


<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden"/>

<section class="content">
    <div class="form-horizontal">
        <nop-panels id="partial-payment-panels">
            <nop-panel asp-name="partial-payment-info" asp-icon="fa fa-info" asp-title="@T("Admin.Promotions.PartialPayments.Info")" 
            asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("~/Plugins/Wallets.PartialPaymentAdmin/Views/_CreateOrUpdate.Info.cshtml", Model)</nop-panel>
            <nop-panel id="partial-payment-applied-to-products-panel" asp-name="partial-payment-applied-to-products" asp-icon="fa fa-object-group" asp-title="@T("Admin.Promotions.PartialPayments.AppliedToProducts")" asp-hide-block-attribute-name="@hideAppliedToProductsBlockAttributeName" asp-hide="@hideAppliedToProductsBlock">@await Html.PartialAsync("~/Plugins/Wallets.PartialPaymentAdmin/Views/_CreateOrUpdate.AppliedToProducts.cshtml", Model)</nop-panel>
            @if (Model.Id > 0)
            {
                <nop-panel asp-name="partial-payment-usage-history" asp-icon="fas fa-history" asp-title="@T("Admin.Promotions.PartialPayment.History")" asp-hide-block-attribute-name="@hideUsageHistoryBlockAttributeName" asp-hide="@hideUsageHistoryBlock">@await Html.PartialAsync("~/Plugins/Wallets.PartialPaymentAdmin/Views/_CreateOrUpdate.History.cshtml", Model)</nop-panel>
            }

            @await Component.InvokeAsync("AdminWidget", new {widgetZone = "admin_partial_payment_details_block", additionalData = Model})
        </nop-panels>
    </div>
</section>